target/
*.class
*.jar
*.war
*.ear

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# NetBeans (just in case some remain or are recreated)
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Eclipse
.settings/
.classpath
.project
.metadata/

# MacOS
.DS_Store

# Temporary files
.output.txt